@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}


/* container.css */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;   /* 16px */
  padding-right: 1rem;
}

